<div>
  <%= form_for [@company, @job] do |f| %>

    <%= f.label :category_id %>
    <%= f.collection_select :category_id, Category.all, :id, :title %>

    <%= f.label :title %>
    <%= f.text_field :title %>

    <%= f.label :description %>
    <%= f.text_field :description %>

    <%= f.label :level_of_interest, "Rating (1-10)" %>
    <%= f.number_field :level_of_interest, in: 1..10, step: 1 %>

    <%= f.label :city %>
    <%= f.text_field :city %></br></br>

    <%= f.submit %></br>
    <a href=<%= companies_path %>>Cancel</a>
  <% end %>
</div>
