<header>
  <h1>All Companies</h1></br>
</header>
<main>
  <a class= 'button' href=<%= new_company_path %>>add a new company</a>

  <table>
    <tr>
      <th></th>
      <th></th>
      <th>Name</th>
    </tr>
    <% @companies.each do |company| %>
    <tr class=company_<%= company.id %>>
      <td><%= link_to 'Edit', edit_company_path(company) %></td>
      <td><%= link_to "Delete", company_path(company), method: "delete" %></td>
      <td><%= link_to company.name, company_path(company) %></td>
    </tr>
    <% end %>
  </table>
</main>
