<header>
  <h1>All Jobs for <%= @company.name %></strong></h1>
</header>

<% @company.jobs.each do |job| %>
  <ul><%= job.title %></ul>
<% end %>
<h3>Create a Contact</h3>
<%= render partial: 'contacts/form' %>
<h1>Existing contacts (<%= @company.contacts.size %>)</h1>
<%= render partial: 'companies/contact', collection: @company.contacts %>
