<header>
  <h1><%= @category.title %> Jobs</h1>
</header>

<main>
  <table>
    <tr>
      <th>Role</th>
      <th>Company</th>
      <th>City</th>
      <th>Rating</th>
    </tr>
    <% @jobs.each do |job| %>
    <tr>
      <td><%= link_to "#{job.title}", company_job_path(job.company, job) %></td>
      <td><%= job.company.name %></td>
      <td><%= job.city %></td>
      <td><%= job.level_of_interest %></td>
    </tr>
    <% end %>
  </table>
</main>
